[Desktop Entry]
Icon=image-png
Name=ShoT_2023-07-01-12-50-50_1920x1080.png
Type=Link
URL[$e]=file:$HOME/Pictures/ScreenShots/ShoT_2023-07-01-12-50-50_1920x1080.png
X-KDE-LastOpenedWith=viewnior
